@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: 'playfair display';
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 4rem;
    margin: 1.5rem  3rem;
}
nav ul{
    list-style: none;
    justify-content: space-around;
    display: flex;
    border: 2px solid white;
    border-radius: 30px;
    width: 30rem;
    height: 40px;
    margin: 1rem 4rem;
}
nav ul li{
    align-self: center; 
}
nav ul li a:hover{
    border: 1px solid white;
    box-shadow: 5px 5px 8px #00000071;
    border-radius: 18px;
    padding: 6px 1rem ;
    transition: ease-in-out;
}
nav ul li a.active{
    color: #041958;
    background-color: white ;
    border-radius: 15px;
    padding: 6px 1rem ;
}
    .vec{
     display: none;
 }
nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'inter';
    font-weight: bold;
}
#sect1{
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7.7rem;
    width: 100%;
}
#sect1 .container{
    padding: 11rem 0 8rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#sect1 img{
    width: 497px;
    height: 273px;
}
#sect1 h1{
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 97.3%;
}
#sect1 p{
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 97.3%;
}
.text{
    width: 540px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main{
    background-image: url(../img/img38.png);
    width: 100%;
    height: 3133px;
    margin-top: -276px;
}
main  h2{
    color: #1B1A5E;
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem 0;
}
main #sect2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
}
main #sect2 .abt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
main #sect2 .abt img{
    width: 500px;
    height: 300px;
}
main #sect2 .abt .text p{
    color: #050434;
    font-size: 1.5rem;
}
main #sect2 .abt .text a{
    color: #FFF;
    font-size: 20px;
    text-decoration: none;

}
main #sect2 .abt .btncont .btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background: #4975AB;
    width: 252px;
    height: 48px;
}
main #sect2 .abt .btncont .btn:hover{
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 8px #00000071;
    transition: ease-in-out;
}
main #sect2 .abt .btncont{
    display: flex;
    justify-content: flex-end;
}
main #sect2 .abt .btn img{
    height: 24px;
    width: 44px;
    margin-left: -5rem;
}
main #sect3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #sect3 .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

main #sect3 .container .cont1:hover ,
main #sect3 .container .cont2:hover ,
main #sect3 .container .cont3:hover ,
main #sect3 .container .cont4:hover{
    transform: scale(1.1);
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 2px -2px rgba(6, 0, 0, 0.587);
}
main #sect3 .container .bg{
    display: flex;
    margin-top: 4rem;
    margin-bottom: -6rem;
}
main #sect3 .container .bg img{
    width: 126px;
}
main #sect3 .container .info{
    background-image: url(../img/img42.png);
    padding: 34px 5px;
    margin-top: -.25rem;
    border-radius: 0 0 20px 20px;
}
main #sect3 .container .info h3{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding-left: 20px;
}
main #sect3 .container .info p{
    width: 203px;
    margin-top: 10px;
    color: #373737;
    font-size: 1rem;
    font-weight: 500;
    line-height: 100%;
    padding-left: 20px;
}
main #sect4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #sect4 .picgrid{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8.8rem;
    align-items: center;
    gap: 1.8rem;
}
main #sect4 .fourpics{
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    width: 65%;
}
main #sect4 .vase{
    margin-top: -330px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-back {
    background-color: #4975ab96;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.flip-card-back p{
    padding: 1.5rem;
}

main #sect5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #sect5 .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5.5rem;
}
main #sect5 .container .cont1 , #sect5 .container .cont2{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}
main #sect5 .container .question{
    display: flex;
    align-items: center;
    width: 545px;
    border-radius: 15px;
    background: #5586C2;
    
}
main #sect5 .container .question img{
    width: 40px;
    cursor: pointer;
}
main #sect5 .container .question p {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    width: 440px;
    padding: 8px 20px;
}
main #sect5 .container .questions.active .answer{
    display: block;
    height: 3rem;
    padding-top: 3rem;
}
main #sect5 .container .answer{
    display: none;
    width: 542px;
    background-color: #5586c262;
    border-radius:0 0 20px 20px;
}
main #sect5 .container .answer p{
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    margin: -2rem 3rem;
}
footer{
    background-color: #041958;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12rem 0;
}
footer .container .flogo{
    width: 121px;
    height: 135px;
}
footer .container .fnavbar ul{
    list-style: none;
}
footer .container .fnavbar li{
    padding: 5px 0;
}
footer .container .fnavbar a{
    text-decoration: none;
    color: #FFF;
    font-family: 'inter';
    font-size: 2rem;
    font-weight: 400;
}
footer .container h3{
    color: #FFF;
    font-family: 'inter';
    font-size: 2rem;
    font-weight: 400;
}
footer .container .sm{
    display: flex;
    align-items: center;
    padding: 30px 0 ;
}
footer .container .sm img{
    padding: 0 5px;
}



.hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }


@media screen and (max-width: 430px) {
    header {
        align-items: center;
      }
      .hamburger{
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
    
     
      .nav-menu{
        position: absolute;
        border: none;
        left: -15%;
        top: -40%;
        background-color: #010121a4;
        height: 150px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }
    
      .nav-item{
        margin: 16px 0;
      }
    
      .nav-menu.active{
        top: 25%;
      }





    #sect1 h1{
        font-size: 2rem;
    }
    #sect1 p{
        font-size: 1rem;
    }
    .text{
        width: 256px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #sect1 img{
        width: 257px;
        height: auto;
    }
    main{
        height: 100%;
        background-repeat: no-repeat;
    }
    main h2 {
        /* margin-top: -10px; */
        font-size: 2rem;
    }
    main #sect2 h2{
        margin-top: -20px;
    }
    main #sect3 h2{
        margin-top: 80px;
        margin-bottom: -10px;
    }
    main #sect2 .abt{
        justify-content: center;
    }
    main #sect2 .abt img {
        width: 320px;
        height: auto;
    }
    main #sect2 .abt .text p{
        font-size: 1rem;
        width: 256px;
        margin-top:50px;
        margin-bottom: 10px;
    }
    main #sect2 .abt .btncont .btn {
        width: 175px;
        height: auto;
    }
    main #sect2 .abt .text a {
        font-size: 15px;
    }
    main #sect2 .abt .btn img {
        height: auto;
        width: 22px;
        margin-left: -4rem;
    }
    main #sect3 .container {
        justify-content: center;
    }
    main #sect3 .container .cont1 ,
    main #sect3 .container .cont2 ,
    main #sect3 .container .cont3 ,
    main #sect3 .container .cont4{
        margin-bottom: -45px;
        transform: scale(0.9);
    }
    main #sect3 .container .cont1:hover ,
    main #sect3 .container .cont2:hover ,
    main #sect3 .container .cont3:hover ,
    main #sect3 .container .cont4:hover{
        transform: scale(1);
    }
    main #sect4{
        background-color: #CEDEE8;
    }
    main #sect4 .fourpics{
        margin-top: -356px;
        margin-left: 24px;
    }
    main #sect4 .picgrid{
        gap: 0;
    }
    main #sect4 .vase{
        margin-top: -468px;
    }
    main #sect4 .fourpics , main #sect4 .vase{
        transform: scale(0.5);
    }
    main #sect5{
        background-color: #CEDEE8;
    }
    main #sect5 .container{
        margin-top: -5px;
        background-color: #CEDEE8;
    }
    main #sect5 .container .question{
        transform: scale(0.5);
    }
    main #sect5 .container .answer{
        transform: scale(0.5);
        margin-top: -46px;
        padding-top: 1rem;
    }
    main #sect5 .container .answer p {
        margin: -2rem 3rem;
    }
  
    main #sect5 .container .cont1, 
    #sect5 .container .cont2{
        gap: 0rem;
    }
    footer .container{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }
    footer .container .label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .container{
        margin-top: -200px;
        gap: 3rem;
        transform: scale(0.7);
    }
}

