@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'playfair display';
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 4rem;
    margin: 1.5rem  3rem;
}
nav ul{
    list-style: none;
    justify-content: space-around;
    display: flex;
    border: 2px solid #041958;
    border-radius: 30px;
    width: 30rem;
    height: 40px;
    margin: 1rem 4rem;
}
nav ul li{
    align-self: center;
}
nav ul li a:hover{
    border: 2px solid #041958;
    box-shadow: 5px 5px 8px #00000071;
    border-radius: 18px;
    padding: 6px 1rem ;
    transition:  ease-in-out;
}
.active{
    color: white;
    background-color: #041958 ;
    border-radius: 15px;
    padding: 6px 1rem ;
}
.vec{
     display: none;
 }
nav ul li a{
    text-decoration: none;
    color: #041958;
    text-align: center;
    font-family: 'inter';
    font-weight: bold;
}
#sect1{
    background-image: url(../img/img44.png);
    width: 100%;
    height: 685px;
    margin-top: -7.3rem;
}
#sect1 .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 88px;
}
#sect1 .info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#sect1 .info h1{
    width: 440px;
    color: #000;
    font-size: 80px;
    font-weight: 600;
    line-height: 97.3%;
}
#sect1 .info p{
    width: 550px;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    line-height: 97.3%;
}
#sect1 .info .date .cont{
    display: flex;
    align-items: center;
    GAP: 2rem;
}
#sect1 .info .date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sect1 .info .date h2{
    color: #041958;
    font-size: 22px;
    font-weight: 600;
}
#sect1 .info .date .line{
    width: 2px;
    height: 88px;
    background: #041958;
}
#sect1 .info .date p{
    width: 140px;
    color: #000000;
    font-size: 22px;
}
#sect1 .info .date a{
    border-radius: 30px;
    border: 2px solid #041958;
    background: #041958;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding: 12px 40px;
}
#sect1 .container .img img{
    width: 265px;
}
main{
    background-image: url(../img/img45.png);
    width: 100%;
    height: 1760px;
}
main #sect2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2{
    color: #1B1A5E;
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem 0;
}
main #sect2 .piccont{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
main #sect2 .fourpic{
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
main #sect3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #sect3 img{
    z-index: -1;
}
main #sect3 .inputs{
    display: flex;
    flex-direction: column;
    gap: 1.23rem;
    margin-top:-524px ;
    margin-left: 82px;
}
main #sect3 input , select{
    width: 549px;
    height: 69px;
    border-radius: 37px;
    border: 3px solid #4975AB;
    background: #FFF;
}
::placeholder {
    color: #0419589a;
    font-size: 24px;
    font-weight: 200;
    line-height: 97.3%; 
    padding-left: 2rem; 
}
.option1{
    padding-left: 20px;
    color: #0419589a;
    font-size: 24px;
 }
main #sect3 button{
    border-radius: 37px;
    background: #5586C2;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 97.3%; 
    text-decoration: none;
    padding: 10px 30px ;
    border: none;
    cursor: pointer;
}
main #sect3 .btn{
    margin-top: 45px;
    margin-left: 268px;
}
footer{
    background-color: #041958;
    width: 100%;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12rem 0;
}
footer .container .flogo{
    width: 121px;
    height: 135px;
}
footer .container .fnavbar ul{
    list-style: none;
}
footer .container .fnavbar li{
    padding: 5px 0;
}
footer .container .fnavbar a{
    text-decoration: none;
    color: #FFF;
    font-family: 'inter';
    font-size: 2rem;
    font-weight: 400;
}
footer .container h3{
    color: #FFF;
    font-family: 'inter';
    font-size: 2rem;
    font-weight: 400;
}
footer .container .sm{
    display: flex;
    align-items: center;
    padding: 30px 0 ;
}
footer .container .sm img{
    padding: 0 5px;
}
.hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #050434;
  }
@media screen and (max-width: 430px) {
    header {
        align-items: center;
      }
      .hamburger{
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
   
      .nav-menu{
        position: absolute;
        border: none;
        left: -15%;
        top: -40%;
        background-color: #010121a4;
        height: 150px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }
    
      .nav-item{
        margin: 16px 0;
      }
    
      .nav-menu.active{
        top: 25%;
      }
    header .logo{
        width: 4rem;
        margin: 1.5rem  2rem;
    }
    #sect1{
        background-image: url(../img/img44.png);
        background-size: cover;
        width: 430px;
        height: 1000px;
        
    }
    #sect1 .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 110px;
        margin-right: -5rem;
    }
    #sect1 .info .date .cont {
      margin-left: -144px;
    }
    #sect1 .info .date {
        flex-direction: column;
        gap: 1rem;
    }
    #sect1 .info h1 {
        font-size: 4rem;
    }
    #sect1 .info p {
        width: 374px;
    }
    #sect1 .container .img{
        margin-right: 80px;
    }
    #sect1 .container .img img {
        width: 165px;
    }
    #sect1 .info .date a {
        margin-right: 271px;
    }
    main {
        background-size: cover;
        margin-top: -10px;
    }
    main h2 {
        font-size: 2rem;
    }
    main #sect2 .piccont {
        scale: 0.8;
        margin-top: -172px;
    }
    main #sect2 .piccont img{
        margin-left: 205px;
    }
    main #sect2 .fourpic {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    main #sect2 .fourpic img{
        width: 336px;
    }
    main #sect3{
        background-color:#CEDEE8 ;
        margin-top: -189px;
    } 
    main #sect3 .cont{
        scale: 0.5;
        margin-top: -163px;
    }
    footer {
        margin-top: 280px;
    }
    footer .container{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }
    footer .container .label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .container{
        gap: 3rem;
        transform: scale(0.7);
    }
    }